<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>随机动画View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C92496C1D8E3EBE00FD3F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9249851D8E3EBE00FD3F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9249901D8E3EBE00FD3F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
